discord.py==1.3.2
discord==1.0.1
openpyxl==3.0.3
requests==2.23.0
request==2019.4.13
location==0.0.7
asyncio==3.4.3
urlib3==1.25.8
bs4==0.0.1
youtube_dl==2020.3.24
BeautifulSoup==4.8.2
beautifulsoup4==4.8.2
